
<main class="main">
  <div class="text-container" id="container">
    <div class="resizing-text" id="textName" *ngIf="_showName">
      Time to {{ nameStr }}
    </div>

    <div class="resizing-text" id="textDate" *ngIf="_showDate">
      {{ dateStr }}
    </div>
</div>
<div class="textfields">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="name" (blur)="nameBlur()">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [(ngModel)]="theDate" (blur)="dateBlur()">
  </mat-form-field>
</div>
</main>

<router-outlet />
